* {
    box-sizing: border-box;
  }
    
  .form-inline {
      margin: 3px;
    }

   .update {
      width: 50%;
      margin: auto;
      background-color: rgba(0, 0, 0, .5);
    }
.input1[type=text], .input1 {
    width: 100%;
    padding: 8px;
    border: 2px solid #1abc9c;
    margin-top: 6px;
    margin-bottom: 12px;
    resize: vertical;
    border-radius: 5px;
  }
  input[type=submit] {
    background-color: #1abc9c;
    color: white;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
    /* styling error message in red */
   .error {
      color: red;
      text-align: center;
      border: 1px solid rgba(200, 0, 0, 0);
      background-color: rgba(150, 0, 0, .5);
      padding: 3px;
      margin: 1px;
      width:100%;
    }
.formcenter {
      border: 2px solid #1abc9c;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.5);
      width: 320px;
      margin:auto;
    }
h2, legend {
      background-color: #1abc9c;
      margin: 0px;
      padding: 15px;
      text-align: center;
    }
legend {
    padding: 8px;
    border-radius: 25px;
    color: white;
    margin-top:5px;
}
    .float-right {
      float: right;
    }

    a:visited, a {
      color: #1abc9c;
      text-decoration: none;
    }

     /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .formcenter, input[type=submit], .update {
      width: 100%;
      margin-top: 0;
    }
  }

  /*styling all label white*/
  label {
    color: white;
  }

  option {
      background-color: turquoise;
      font-weight: bold;
  }