body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 25px;
    background-color: #000;
    color: #fff;
}

#alert,
#register-box,
#forgot-box,
#loader {
    display: none;
}

.error {
    color: red;
}

#home .overlay {
    background: rgba(0, 0, 0, 0.7);
    min-height: 700px;
}
  