body {
  -webkit-background-size: cover !important;
            -moz-background-size: cover !important;
            -o-background-size: cover !important;
            background-size: cover !important;
            background: url(image/uniabuja.png) no-repeat fixed center;
            color: white;
}

.header {
  padding: 30px; /* some padding */
  text-align: center; /* center the text */
  background: rgba(0, 0, 0, 0.5); /* green background */
  color: white; /* white text color */
  background-size: cover;
}
/* Ensure proper sizing */
* {
  box-sizing: border-box;
}


/* body width*/

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 25%; /* Set the width of the sidebar */
  background-color: rgb(250, 250, 250); /* Grey background color */
  padding: 5px; /* Some padding */
}

/* Main column */
.main {
  flex: 50%; /* Set the width of the main content */
  background-color: rgb(200, 200, 200); /* White background color */
  padding: 5px; /* Some padding */
}

.right {
  flex: 25%; /* Set the width of the main content */
  background-color: rgb(20, 200, 150); /* White background color */
  padding: 5px; /* Some padding */
}


/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 40px;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
a:hover{
  background-color: green;
  color: white;
  text-decoration: none;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color:rgb(20, 200, 150);
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
.footer {
  padding: 5px 2px 1px; /* Some padding */
  background-color: rgb(100, 100, 100); /* Grey background */
  clear: both;
}
/* social media image icon */
a img {width:30px;
	   height:30px;
	   border-radius:6px;
}

div.social {
    clear:left;
    float:right;
    overflow:auto;
    background-color:white;
	margin:4px;
	border:3px solid white;
}

/*subheading design*/

.subhead {
	background-color: #1abc9c; 
	padding:10px; 
	text-align: center; 
	color: white; 
	font-size:15px;
	font-weight: bold;
	margin:1px;
}

/* parahraph of the footer sides*/

.info, .copyright {
	clear:left;
	margin: 0%;
}

.copyright {
	text-align: center;
	padding: 2px;
	background-color: white;
}

li a {
	text-decoration: none;
}

li a:hover {
	background-color: rgb(100, 100, 100);
	color: blue;
}

a {
	color: rgb(20, 230, 150);
}

ul li a {
	padding:5px;
	
}
/* footer design */
.footd {
	margin: 0px 10px;
	float: left;
	font-size: 15px;
	max-width: 200px;
}

address {
	margin: 0px;
}
